@import "shared/utils/colors.scss";
.spaceMargin {
  margin-top: 21px !important;
}
.heading {
  font-size: 22px;
  font-family: PoppinsSemiBold;
}
.password_container {
  margin-top: 43px;
  // margin-left: 43px;
}
.save,
.cancel {
  background-color: #6c5dd3;
  color: white;
  height: 50px;
  border: 0px;
  border-radius: 10px;
  font-family: InterBold;
  font-size: 14px;
  width: 108px;
}
.save {
  width: 178px;
  margin-left: 10px;
}
.cancel {
  background: $ULTRA_LIGHT_GREY;
  color: $GREY;
}
@media screen and (max-width: 540px) {
  .password_container {
    margin-left: 0px;
  }
}
