@import "./../customInput/style.module.scss";

.optionsContainer {
    position: absolute;
    bottom: 0;
    max-width: 225px !important;
    background-color: white;
    border-radius: 11px;
    box-shadow: 0px 0px 2px 0px $LIGHT_GREY;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    top: 49px;
    right: 18px;
    z-index: 3;
    height: fit-content;
    text-align: left;
    padding: 0px 12px;
    height: fit-content;
}

.optionContainer {
    width: 100%;
    border-bottom: 1px solid white;
    cursor: pointer;
    min-height: 37px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 27px;
}

// .optionContainer:hover {
//     background-color: $ULTRA_LIGHT_GREY;
// }

.optionLabel {
    font-family: PoppinsMedium;
    font-size: 13px;
    color: $BLACK;
    text-align: left;
}

.iconSize {
    height: 18px;
    width: 18px;
}

.icon ellipse {
    stroke: $BLACK;
}

.icon rect {
    stroke: $BLACK;
}

.icon circle {
    stroke: $BLACK;
}

.icon path {
    stroke: $BLACK;
}

@media screen and (max-width: 900px) {
    .optionsContainer {
        // top: 65px;
        // right: 30px;
        top: 47px;
        right: 21px;
    }
}

@media screen and (max-width: 800px) {
    .optionsContainer {
        // top: 62px;
        // right: 30px;
        top: 47px;
        right: 21px;
    }
}

@media screen and (max-width: 660px) {
    .optionsContainer {
        // top: 60px;
        // right: 15px;
        top: 24px;
        right: 0px;
    }
}