@import "shared/utils/colors.scss";
.topLevelContainer {
  height: 100vh;
  display: flex;
  position: relative;
}
.networkContainer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 20px;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.disconnect {
  background-color: $ERROR;
}
.connect {
  background-color: $GREEN;
}
.networkLabel {
  font-family: InterRegular;
  color: white;
  font-size: 14px;
}
.mainContainer {
  background-color: white;
  overflow-y: auto;
  height: 100vh;
  width: 100vw;
}

.sideNavContainer {
  background-color: white;
  border-right: 1px solid #e4e4e4;
  overflow-y: auto;
  height: 100vh;
}

.sideNavFull {
  min-width: 256px;
  transition: min-width 0.4s;
  -webkit-transition: min-width 0.4s;
  -moz-transition: min-width 0.4s;
}

.sideNavHalf {
  min-width: 96px;
  transition: width 0.4s;
}

.sideNavContainer::-webkit-scrollbar {
  width: 6px;
  display: none;
}

.mainContainer::-webkit-scrollbar {
  width: 6px;
  display: none;
}

.sideNavContainer::-webkit-scrollbar-thumb {
  background-color: #ff754c;
  border-radius: 100px;
  visibility: hidden;
}

.sideNavContainer::-webkit-scrollbar-track {
  /* background-color: #818b99; */
  border: 1px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
  background-color: #f0f3f6;
  visibility: hidden;
  /* border-radius: 100px; */
}

.showSideNavContainer::-webkit-scrollbar-thumb {
  visibility: visible !important;
}

.showSideNavContainer::-webkit-scrollbar-track {
  visibility: visible !important;
}

@media screen and (max-width: 992px) {
  .showSideNavContainer::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .sideNavContainer {
    display: none;
  }
}
@media screen and (min-width: 576px) {
  .sideNavFull {
    min-width: 96px;
  }
}
@media screen and (min-width: 768px) {
  .sideNavFull {
    min-width: 96px;
  }
}
@media screen and (min-width: 992px) {
  .sideNavFull {
    min-width: 96px;
  }
}

@media screen and (min-width: 1200px) {
  .sideNavFull {
    min-width: 256px;
  }
}

@media screen and (min-width: 1400px) {
  .sideNavFull {
    min-width: 256px;
  }
}
