@import "shared/utils/colors.scss";
.header {
  text-align: right;
}
.container {
  padding: 0px 30px 30px !important;
}
.pointer {
  cursor: pointer;
  height: 36px;
  width: 36px;
}
.headingStyle {
  font-size: 24px;
  font-family: PoppinsSemiBold;
}

.subtitle {
  font-family: InterRegular;
  font-size: 12px;
  color: $BLACK;
}
.activePrice {
  font-family: PoppinsSemiBold;
  font-size: 24px;
  color: $BLACK;
}
.activeDesc {
  font-family: InterMedium;
  font-size: 12px;
  color: $GREY;
}

.choosebtnStyle {
  background-color: $PRIMARY;
  color: white;
  height: 56px;
  border: 0px;
  border-radius: 10px;
  font-family: InterBold;
  font-size: 14px;
  width: 172px;
}

@media screen and (max-width: 576px) {
  .headingStyle {
    font-size: 27px;
  }
  .container {
    padding: 0px 20px 20px !important;
  }
  .modalContent {
    width: 100% !important;
  }
  .choosebtnStyle {
    height: 50px;
    border-radius: 8px;
    font-size: 12px;
    width: 113px;
  }
}
@media screen and (min-width: 576px) {
  .headingStyle {
    font-size: 27px;
  }
  .modalContent {
    width: 100% !important;
  }
}
@media screen and (min-width: 768px) {
  .headingStyle {
    font-size: 27px;
  }
  .choosebtnStyle {
    height: 46px;
    border-radius: 10px;
    font-size: 12px;
    width: 130px;
  }
}
