@import "shared/utils/colors.scss";

.userContainer {
  min-width: 96px;
  width: 12.499999995%;
  flex: 0 0 12.499%;
  max-width: 12.499%;
}
.userIconContainer {
  border-radius: 100%;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.userIcon {
  height: 70px;
  width: 70px;
  border-radius: 100%;
}

.title {
  height: 13px;
  width: 80%;
}
.subtitle {
  height: 12px;
  width: 60%;
}

@media screen and (max-width: 576px) {
  .userContainer {
    min-width: 96px;
    width: 33.333%;
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}
@media screen and (min-width: 576px) {
  .userContainer {
    min-width: 96px;
    width: 33.333%;
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}
@media screen and (min-width: 768px) {
  .userContainer {
    min-width: 96px;
    width: 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media screen and (min-width: 992px) {
  .userContainer {
    min-width: 96px;
    width: 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
}

@media screen and (min-width: 1200px) {
  .userContainer {
    min-width: 96px;
    width: 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
}
