$PRIMARY: #6c5dd3;
$SECONDARY: #ff754c;
$GREEN: #7fba7a;
$BLACK: #1b1d21;
$GREY: #808191;
$LIGHT_GREY: #e4e4e4;
$ULTRA_LIGHT_GREY: #f0f3f6;
$ERROR: #ea5b5b;
$BLUE: #3f8cff;
$DARKBLUE: #0049c6;
$GRAYWHITE: #e5e4e2;
$GRAYTRANSPARENT: #e5e4e285;
$RED: #f53649;
