.header {
  text-align: right;
}

.container {
  padding: 0 30px 30px !important;
}
.asterik {
  color: #ff754c;
}
.label {
  font-size: 12px;
  font-family: "InterMedium";
  margin-bottom: 5px;
  color: #1b1d21;
}
.pointer {
  cursor: pointer;
  height: 36px;
  width: 36px;
}

.headingStyle {
  font-size: 37px;
  font-family: PoppinsSemiBold;
}

@media screen and (max-width: 576px) {
  .headingStyle {
    font-size: 30px;
  }
  .container {
    padding: 0 25px 25px !important;
  }
  .heading_margin {
    margin-bottom: 25px;
  }
  .modalContent {
    width: 100% !important;
  }
}
@media screen and (min-width: 576px) {
  .headingStyle {
    font-size: 30px;
  }
  .modalContent {
    width: 100% !important;
  }
}
@media screen and (min-width: 768px) {
  .headingStyle {
    font-size: 30px;
  }
}
